.listOfPost {
  width: 330px;
  color: white;
  background: black;
  margin: 0;
  padding: 5px;
}

.postHeader {
  display: flex;
  align-items: baseline;
}
.entryDate {
  margin-left: 10px;
  font-size: smaller;
}
.postMain {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.thumbnail {
  width: 75px;
  height: 75px;
}
.thumbnail button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 75px;
  height: 75px;
}
.postMain small {
  margin-left: 10px;
}

.numberOfComments {
  margin-left: 10px;
  font-size: smaller;
  color: orange;
}
hr {
  border: none;
  height: 1px;
  background-color: white;
}

#dismissButton {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: smaller;
  display: flex;
  align-items: center;
}
.footerPost {
  display: flex;
}
